*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    padding-top:70px;
}
/**********************Nav Bar**********************************/

#account{
    border: 1px solid rgba(0, 0, 0, 0.127);
    padding: 2px;
    border-radius: 20px;
}
#cart{
    position: relative;
}
#badge{
    position: absolute;
    top: 0;   
}
#list-items, #search {
    display: none;
}
.input-group{
    border: 1px solid black;
}
#searchPanel{
    margin:40px 0px;
    display: none;
}
.dropdown ul li a {
    width: min-content;
    font-size: 14px;
} 
.dropdown { 
  position:static !important; 
}  
.dropdown-menu { 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
} 
.offcanvas{
  display:none;
}
/*********End of Nav Bar***************/
/*************************Main Content************************************/
.main-content{
  margin: 0px;
  padding: 7px;
  display: flex;
  box-sizing: border-box;
  position: relative; 
  flex: 1;   
    
}

/*
The following style is used to make the left panel of the main content
*/
.content-left{
    flex-basis: 20%;
    background-color: blue;
    display: flex;
    align-items: center;flex-basis: 20%;
    background-color: #efefef;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow-y: auto;
}


/*
The following style is used to make the center panel of the main content
*/
.content-center{
  flex-basis: 80%;
  margin:0px 7px;
  padding:10px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #efefef;
  border-radius: 10px;
  display: flex;
    
}

/*
The following style is used to make the right panel of the main content
*/
.content-right{ 
  flex-basis: 0%;
  background-color: #efefef;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  border-radius: 7px;
  display: flex;
  
}



@media (max-width: 768px){
      #inputGroup, #accountIcon, #cartIcon, .navbar-brand{
        display: none;
      }
      #search{
        display: block;
      } 
      #inputGroup input {
        margin-left: 10px;
        width: 90px;
      }
      #searchPanel {
        display: none;
      }
      .dropdown ul li a button i{
        font-size: 12px;
      }    
}

@media (max-width:992px) {
    .navbar-brand{
        display: none;
      }
      .dropdown-menu{
        display:none
      }
      .offcanvas{
        display: block;
      }
        
}
