*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    padding-top:70px;
}
/**********************Nav Bar**********************************/

#account{
    border: 1px solid rgba(0, 0, 0, 0.127);
    padding: 2px;
    border-radius: 20px;
}
#cart{
    position: relative;
}
#badge{
    position: absolute;
    top: 0;   
}
#list-items, #search {
    display: none;
}
.input-group{
    border: 1px solid black;
}
#searchPanel{
    margin:0px 0px;
    display: none;
}
.dropdown ul li a {
    width: min-content;
    font-size: 14px;
} 
.dropdown { 
  position:static !important; 
}  
.dropdown-menu { 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
} 
.offcanvas{
  display:none;
}
/*********End of Nav Bar***************/
/*************************Main Content************************************/
.main-content{
  margin: 0px;
  padding: 7px;
  display: flex;
  position: relative; 
}

/*
The following style is used to make the left panel of the main content
*/
.content-left{
    flex-basis: 20%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    height: 100vh;
    overflow-y: scroll;
   
}
.list-group {
  display: flex;
  width: 100%;
}
.list-group {
  display:flex;
}
.list-group-item {
  list-style: none;
}
.list-group-item  a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0px 0px;
  
}
.end-icon {
  margin-left: 100%;
}


/*
The following style is used to make the center panel of the main content
*/
.content-center{
  flex-basis: 80%;
  padding:10px;
  border-radius: 10px;
  display: flex;
  height: 100vh;
  overflow-y:scroll;
  margin: 10px;
  margin-right: 0px;
    
}

/*
The following style is used to make the right panel of the main content
*/




@media (max-width: 768px){
      #inputGroup, #accountIcon, #cartIcon, .navbar-brand{
        display: none;
      }
      #search{
        display: block;
      } 
      #inputGroup input {
        margin-left: 10px;
        width: 90px;
      }
      #searchPanel {
        display: none;
      }
      .dropdown ul li a button i{
        font-size: 12px;
      }    
}

@media (max-width:992px) {
     .navbar-brand{
        display: none;
      }
      .dropdown-menu{
        display:none
      }
      .offcanvas{
        display: block;
      }
      .content-left{
        display: none;
      }
      .content-center {
        flex-basis: 100%;
      }
      
        
}
